@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">    
    <h1 class="display-4">Bienvenidos</h1>
</div>

<div class="row">
    <div class="col-12">
        <img src="~/img/Home.jpg" class="img-fluid" />
    </div>
</div>
