@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-3">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">&copy; App Gimnasio</div>
            <div class="card-body">
                <h4 class="card-title">"Nombre del Gimnasio"</h4>
                <p class="card-text">Cuando se tiene algo que demostrar, no hay nada mejor que un reto.- Terry Bradshaw.</p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <img src="~/img/Home.jpg" class="img-fluid" />
    </div>
</div>
