@page
@model AppGimnasio.App.Frontend.Pages.MenuAdministrador
@{
    ViewData["Title"] = "Menu Administrador";
}
<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="~/img/Avatar-Gimnasio.png" alt="" width="40" height="32">
            <span class="fs-4">App Gimnasio</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/index" class="nav-link link-dark" aria-current="page">
                    <!--class="nav-link active" -->
                    <img src="~/img/Avatar-HomePage.png" width="20" height="20"></img>
                    Home
                </a>
            </li>
            <li>
                <a href="Mensualidades/ControlPagos" class="nav-link link-dark">
                    <img src="~/img/Avatar-Mensualidad.png" width="20" height="20"></img>
                    Mensualidad
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img src="~/img/Avatar-Ingreso.png" width="20" height="20"></img>
                    Ingresos
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img src="~/img/Avatar-Rutina.png" width="20" height="20"></img>
                    Rutinas
                </a>
            </li>
            <li>
                <a href="Clientes/ClienteList" class="nav-link link-dark">
                    <img src="~/img/Avatar-Cliente.png" width="20" height="20"></img>
                    Clientes
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/img/Avatar-Cuenta.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Cuenta</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <img src="~/img/MenuAdministrador.jpg" class="img-fluid" />
    </div>
</div>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
<script src="sidebars.js"></script>