@page
@model AppGimnasio.App.Frontend.Pages.Clientes.ClienteEditModel
@{
    ViewData["Title"] = "Editar cliente";
}
<div class="body-2">
    <h1 class="text-center">@ViewData["Title"]</h1> <br>
</div>
<a asp-page=".\ClienteList" class="btn btn-success">Regresar</a>