@page
@model AppGimnasio.App.Frontend.Pages.Mensualidades.ControlM
@{
    ViewData["Title"] = "Control Mensualidades";
}

<h1>@ViewData["Title"]</h1>

<!-- Se crea  la  forma . -->
 <form action="/my-handling-form-page" method="post">
 <!-- se  crea las  divisiones de los  campos . -->
     <div class="form-group">
        <label for="remolque">Nombre del Cliente </label>
        <input type="text" name="inputname" value="Pepito Perez" disabled>
    </div> <br>                                 
        <div class="form-group">
        <label for="remolque">Identificacion </label>
        <input type="text" name="inputname" value="15.924.928" disabled>
    </div> <br>  
                <div class="form-group">
                    <!-- se  crea los  botones que vamos a  utilizar . -->
                    <button type="button" class="btn btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a asp-page=".\RegistraM" class="btn btn-primary">Registra Pago</a></font></font></button>
                    <button type="button" class="btn btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a asp-page=".\ConsultarM" class="btn btn-primary">Consultar Pago</a></font></font></button><br>
                    <button type="button" class="btn btn-outline-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a asp-page=".\ModificarM" class="btn btn-primary">Modificar</a></font></font></button>
                    <button type="button" class="btn btn-outline-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a asp-page=".\EliminarM" class="btn btn-primary">Eliminar Pago</a></font></font></button>

                    
                    </div> 
</form>


<style>
form {
    /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: .5em;
}
 </style>

 