@page
@model AppGimnasio.App.Frontend.Pages.Mensualidades.ControlPagos
@{
    ViewData["Title"] = "CONSULTA GENERAL";
}

<h1>@ViewData["Title"]</h1>

 <!-- Se crea  la  forma . -->
 <form action="/my-handling-form-page" method="post">
 
            
            
                <div class="form-group">
                    <label for="remolque">Numero de Identificacion </label>
                    <input type="text" name="remolque" id="remolque" class="form-control" required>
            <br><br>
                <div class="form-group">
                    <!-- se  crea los  botones que vamos a  utilizar . -->
                    <button onclick="location.href='ControlM'"  class="btn btn-outline-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CONSULTAR</font></font></button>
                    
            </div> 
</form>


 <style>
form {
    /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 350px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: .5em;
}
 </style>
